Source: xserver-xorg-video-sis
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Cyril Brulebois <kibi@debian.org>
Build-Depends:
 debhelper (>= 8),
 dh-autoreconf,
 pkg-config,
 xserver-xorg-dev (>= 2:1.11.2.902),
 x11proto-video-dev,
 x11proto-xext-dev,
 x11proto-gl-dev,
 x11proto-xinerama-dev,
 x11proto-xf86dga-dev,
 libgl1-mesa-dev | libgl-dev,
 x11proto-core-dev,
 x11proto-fonts-dev,
 x11proto-randr-dev,
 x11proto-render-dev,
 libdrm-dev (>> 2.0) [!hurd-i386],
 x11proto-xf86dri-dev,
 quilt,
 xutils-dev (>= 1:7.5+1),
Standards-Version: 3.9.1
Vcs-Git: git://git.debian.org/git/pkg-xorg/driver/xserver-xorg-video-sis
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/driver/xserver-xorg-video-sis.git

Package: xserver-xorg-video-sis
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${xviddriver:Depends},
Provides:
 ${xviddriver:Provides}
Description: X.Org X server -- SiS display driver
 This package provides the driver for all SiS and XGI Volari cards.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This package is built from the X.org xf86-video-sis driver module.
